data/
.*txt
doc/


.DS_Store

**/preflow
**/a.out
**/*.o
**/*.dSYM/

**/*.beam
**/*.dump

**/*.class

**/*.hi

**/target/

*.out

#sanitizer output files for debugging purposes
*_tsan 

# input files for 
i